<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="index">
	
	<div layout:fragment="content">

		<ol class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li class="active">Alunos</li>
		</ol>
		
		<div th:replace="fragments/messages"></div>
		
		<div class="col-md-12">
			<h3>Cadastro de Alunos</h3>
		</div>
		
		<div class="area-grid-alunos hide">
		
			<div th:replace="alunos/grid-alunos"></div>
			
			<button type="button" class="pull-right btn btn-default btn-primary novo-aluno">Novo</button>
		</div>

		<div class="area-form-alunos">
		
			<form class="form-inline aluno-form" th:action="@{/alunos/salvar}" method="post">
			
				<div th:replace="alunos/dados-aluno"></div>
				
				<div class="form-group col-md-12">
					<hr class="separator"></hr>
				</div>
				
				<!-- <div th:replace="alunos/endereco-aluno"></div> -->
			    
			    <!-- <div class="form-group col-md-12">
					<hr class="separator"></hr>
				</div> -->
				
				<div th:replace="alunos/presidio-aluno"></div>
			    
			    <div class="form-group col-md-12">
					<hr class="separator"></hr>
				</div>
				
				<div class="form-group col-md-12 area-buttons">
					<button type="button" class="pull-right btn btn-default btn-primary save-aluno">Salvar</button>
					<button type="button" class="pull-right btn btn-default btn-primary cancelar">Cancelar</button>
				</div>
				
			</form>
		</div>

	</div>
	<div layout:fragment="scripts">
		<script th:src="@{/js/alunos/aluno.js}"></script>
	</div>
</html>