<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="index">
	
	<div layout:fragment="content">

		<ol class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li class="breadcrumb-item">Alunos</li>
			<li class="breadcrumb-item active">Alunos comuns</li>
		</ol>
		
		<div th:replace="fragments/messages"></div>
		
		<div class="area-grid-alunos">
		
			<h3>Alunos cadastrados</h3>
		
			<div th:replace="alunos/comuns/grid-alunos"></div>
			
			<button type="button" class="pull-right btn btn-default btn-primary novo-aluno">Novo</button>
		</div>

		<div class="area-form-alunos hide">
		
			<h3>Cadastro de alunos</h3>
		
			<form id="aluno-form" class="form-inline" th:action="@{/alunos-comuns/salvar}" method="post">
			
				<div th:replace="alunos/common-fragments/dados-aluno"></div>
				
				<div th:replace="alunos/comuns/endereco-aluno"></div>
			    
			    <div class="form-group col-md-12">
					<hr class="separator"></hr>
				</div>
				
				<div class="form-group col-md-12 area-buttons">
					<button id="save-aluno" type="button" class="pull-right btn btn-default btn-primary">Salvar</button>
					<button type="button" class="pull-right btn btn-default btn-primary cancelar">Cancelar</button>
				</div>
				
			</form>
		</div>
		
		<div class="area-atualizacao-atividades hide">
		
			<h3>Atividades do aluno</h3>
			
			<div th:replace="alunos/common-fragments/atividades-estudos"></div>
			
			<div class="form-group col-md-12 area-buttons">
				<button type="button" class="pull-right btn btn-default btn-primary cancelar">Cancelar</button>
			</div>
		
		</div>
		
		<div class="area-cadastro-historico-atividades hide">
		
			<h3>Cadastro histórico atividades do aluno</h3>
			
			<div th:replace="alunos/common-fragments/historico-atividades-estudos"></div>
			
			<div class="form-group col-md-12">
				<hr class="separator"></hr>
			</div>
			
			<div class="form-group col-md-12 area-buttons">
				<button id="save-historico-atividades" type="button" class="pull-right btn btn-success">Salvar</button>
				<button type="button" class="pull-right btn btn-primary cancelar">Cancelar</button>
			</div>
		
		</div>

	</div>
	<div layout:fragment="scripts">
		<script th:src="@{/js/alunos/alunos.js}"></script>
		<script th:src="@{/js/alunos/alunos-comuns.js}"></script>
		<script th:src="@{/js/alunos/alunos-atividades-estudo.js}"></script>
		<script th:src="@{/js/alunos/alunos-historico-atividades.js}"></script>
	</div>
</html>