<div th:fragment="presidio-aluno" th:remove="tag" xmlns:th="http://www.thymeleaf.org">

	<div class="form-group col-md-8">
		<label for="presidio">Presídio</label>
		<div>
	    	<select class="form-control" id="presidio" th:field="${presidiario.presidio.id}">
	    		<option th:value="${null}" th:text="Selecione"></option>
	    		<option th:each="presidio : ${presidios}" th:value="${presidio.id}" 
	    			th:text="${presidio.nome} + ' - (' + ${presidio.endereco.cidade} + ' - ' + ${presidio.endereco.estado.uf} + ')'"></option>
			</select>
    	</div>
	</div>
	
	<div class="form-group col-md-4">
		<label for="matricula">Matrícula</label>
		<input type="text" class="form-control" id="matricula" th:field="${presidiario.matricula}"
			placeholder="Nº matrícula"></input>
	</div>
	
	<div class="form-group col-md-3">
		<label for="raio">Raio</label>
		<input type="text" class="form-control" id="raio" th:field="${presidiario.raio}"
			placeholder="Raio / Pavilhão"></input>
	</div>
	
	<div class="form-group col-md-3">
		<label for="cela">Cela</label>
		<input type="text" class="form-control" id="cela" th:field="${presidiario.cela}"
			placeholder="Nº cela"></input>
	</div>
	
	<div class="form-group col-md-6">
		<label for="complemento">Complemento</label>
		<input type="text" class="form-control" id="complemento" th:field="${presidiario.complemento}"
			placeholder="Complementação ex.: alojamento, amamentação, etc"></input>
	</div>
	
</div>