<div th:fragment="atividades-estudos" th:remove="tag" xmlns:th="http://www.thymeleaf.org">

	<form class="form-inline" th:action="@{/}" method="post">

		<div class="form-group col-md-12">
			<dl class="dl-horizontal">
				<dt>Aluno</dt>
				<dd>Emanoel dos Reis Machado</dd>
				<dt>Matricula</dt>
				<dd>012.345</dd>
			</dl>
		</div>

		<div class="form-group col-md-3">
			<label for="nascimento">Data de envio</label> 
			<input class="form-control" readonly="readonly" value="10/10/2017" />
		</div>

		<div class="form-group col-md-6">
			<label>Material de estudo</label>
			<div class="input-group col-md-12">
				<select class="form-control">
					<option>Introdução</option>
					<option>O que a biblia diz</option>
					<option>Deus tem falado</option>
				</select>
				<div class="input-group-btn">
					<button class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
			</div>
		</div>

		<div class="form-group col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Data envio</th>
						<th>Material</th>
						<th>Data retorno</th>
						<th>Nota</th>
						<th>Certificado</th>
						<th>Bíblia enviada</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>10/10/2017</td>
						<td>Introdução</td>
						<td>15/10/2017</td>
						<td>-</td>
						<td>NÃO</td>
						<td></td>
						<td><button type="button" class="btn btn-xs btn-default">
								<span class="fa fa-pencil"></span>
							</button></td>
					</tr>
					<tr>
						<td>10/10/2017</td>
						<td>Deus tem falado</td>
						<td>15/10/2017</td>
						<td>10</td>
						<td>SIM</td>
						<td></td>
						<td><button type="button" class="btn btn-xs btn-default">
								<span class="fa fa-pencil"></span>
							</button></td>
					</tr>
					<tr>
						<td>10/10/2017</td>
						<td>O que a bíblia diz</td>
						<td>15/10/2017</td>
						<td>9.5</td>
						<td>SIM</td>
						<td>SIM</td>
						<td><button type="button" class="btn btn-xs btn-default">
								<span class="fa fa-pencil"></span>
							</button></td>
					</tr>
				</tbody>
			</table>

		</div>

	</form>


</div>