<div th:fragment="atividades-estudos" th:remove="tag" xmlns:th="http://www.thymeleaf.org">

	<form id="atividades-estudos-form" class="form-inline" th:action="@{/atividades-estudo/adicionar-atividade}" method="post">

		<div class="form-group col-md-12">
			<p><strong>Aluno: </strong><span id="nome-aluno"></span></p>
		</div>
		
		<input id="id-aluno" type="hidden" name="idAluno" />
		<input id="id-postagem" type="hidden" name="idPostagem" />

		<div class="form-group col-md-3">
			<label for="data-proximo-envio">Data próximo envio</label> 
			<input id="data-proximo-envio" name="dataProximoEnvio" class="form-control" readonly="readonly" />
		</div>

		<div class="form-group col-md-6">
			<label>Material de estudo</label>
			<div class="input-group col-md-12">
				<select id="materiais-disponiveis" name="idMaterial" class="form-control">
					<option th:value="${null}" th:text="Selecione"></option>
					<option th:each="material : ${materiais}" th:value="${material.id}" th:text="${material.nome}"></option>
				</select>
				<div class="input-group-btn">
					<button id="add-atividade-estudo" class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
			</div>
		</div>

		<div class="form-group col-md-12">
			<table id="atividades-estudo" class="table table-condensed table-hover table-striped" >
				<thead>
					<tr>
						<th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false"></th>
						<th data-column-id="dataEnvioEstudo" data-sortable="false">Data envio</th>
						<th data-column-id="material" data-formatter="material" data-sortable="false" data-width="400">Material</th>
						<th data-column-id="dataRetornoEstudo" data-sortable="false">Data retorno</th>
						<th data-column-id="nota" data-sortable="false">Nota</th>
						<th data-column-id="certificado" data-formatter="certificado" data-sortable="false">Certificado</th>
						<th data-column-id="biblia" data-formatter="biblia" data-sortable="false">Bíblia</th>
						<th data-column-id="commands" data-formatter="commands" data-sortable="false" data-width="40"></th>
					</tr>
				</thead>
			</table>
		</div>

	</form>
	
	<div id="modal-edicao-atividade" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Atividades de Estudo do aluno</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" id="id-atividade"></input>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="encerrar-postagem"></input> Deseja finalizar esta postagem?
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" id="processar-postagem">Enviar</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="modal-deletar-atividade" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Atividades de Estudo do aluno</h4>
				</div>
				<div class="modal-body">
					<form id="deletar-atividade-estudo-form" class="form-inline" th:action="@{/atividades-estudo/deletar-atividade}" method="post">
						<input type="hidden" id="id-atividade-excluir" name="id"></input>
						<p>Deseja realmente excluir esta atividade?</p>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="deletar-atividade">Excluir</button>
				</div>
			</div>
		</div>
	</div>

</div>