<div th:fragment="atividades-estudos" th:remove="tag" xmlns:th="http://www.thymeleaf.org">

	<form id="atividades-estudos-form" class="form-inline" th:action="@{/atividades-estudo/adicionar-atividade}" method="post">

		<div class="form-group col-md-12">
			<p><strong>Aluno: </strong><span id="nome-aluno"></span></p>
		</div>
		
		<input id="id-aluno" type="hidden" name="idAluno" />
		<input id="id-postagem" type="hidden" name="idPostagem" />

		<div class="form-group col-md-3">
			<label for="data-proximo-envio">Data próximo envio</label> 
			<input id="data-proximo-envio" name="dataProximoEnvio" class="form-control" readonly="readonly" />
		</div>

		<div class="form-group col-md-6">
			<label>Material de estudo</label>
			<div class="input-group col-md-12">
				<select id="materiais-disponiveis" name="idMaterial" class="form-control"></select>
				<div class="input-group-btn">
					<button id="add-atividade-estudo" class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
			</div>
		</div>

		<div class="form-group col-md-12">
			<table id="atividades-estudo" class="table table-condensed table-hover table-striped" >
				<thead>
					<tr>
						<th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false"></th>
						<th data-column-id="dataEnvioEstudo" data-sortable="false">Data envio</th>
						<th data-column-id="material" data-formatter="material" data-sortable="false" data-width="400">Material</th>
						<th data-column-id="dataRetornoEstudo" data-sortable="false">Data retorno</th>
						<th data-column-id="nota" data-sortable="false">Nota</th>
						<th data-column-id="envioCertificado" data-formatter="envioCertificado" data-sortable="false">Certificado</th>
						<th data-column-id="envioBiblia" data-formatter="envioBiblia" data-sortable="false">Bíblia enviada</th>
						<th data-column-id="commands" data-formatter="commands" data-sortable="false" data-width="40"></th>
					</tr>
				</thead>
			</table>
		</div>

	</form>

</div>