<div th:fragment="endereco-aluno" th:remove="tag" xmlns:th="http://www.thymeleaf.org">

	<div class="form-group col-md-6">
    	<label for="logradouro">Rua</label>
    	<input type="text" class="form-control" id="logradouro" placeholder=""></input>
    </div>
    
    <div class="form-group col-md-2">
    	<label for="">Nº</label>
    	<input type="text" class="form-control" id="" placeholder=""></input>
    </div>
    
    <div class="form-group col-md-4">
    	<label for="">Bairro</label>
    	<input type="text" class="form-control" id="" placeholder=""></input>
    </div>
    
    <div class="form-group col-md-6">
    	<label for="">Descrição</label>
    	<input type="text" class="form-control" id="" placeholder=""></input>
    </div>
    
    <div class="form-group col-md-4">
    	<label for="">Cidade</label>
    	<input type="text" class="form-control" id="" placeholder=""></input>
    </div>
    
    <div class="form-group col-md-2">
    	<label for="estado">Estado</label>
    	<div>
	    	<select class="form-control" id="estado">
				<option>SP</option>
			</select>
    	</div>
    </div>

</div>
