<form id="presidio-form" class="form-inline" th:action="@{/presidios/salvar}" method="post">

	<input type="hidden" id="id" th:field="${presidio.id}" />
	<input type="hidden" id="id-endereco" th:field="${presidio.endereco.id}"></input>
	
	<div class="form-group col-md-12">
		<label for="nome">Nome</label>
		<input type="text" id="nome" th:field="${presidio.nome}" 
			class="form-control" placeholder="Nome do presídio"></input>
	</div>
	
	<div class="form-group col-md-2">
    	<label for="cep">CEP</label>
    	<input type="text" class="form-control" id="cep" th:field="${presidio.endereco.cep}"
    		data-inputmask="'alias': 'cep'" placeholder="CEP"></input>
    </div>

	<div class="form-group col-md-8">
    	<label for="logradouro">Localidade / Logradouro</label>
    	<input type="text" class="form-control" id="logradouro" th:field="${presidio.endereco.logradouro}" 
    		placeholder="Rodovia, estrada, rua, avenida, etc"></input>
    </div>
    
    <div class="form-group col-md-2">
    	<label for="numero">Nº</label>
    	<input type="text" class="form-control" id="numero" th:field="${presidio.endereco.numero}" 
    		placeholder="Número"></input>
    </div>
    
    <div class="form-group col-md-6">
    	<label for="bairro">Bairro</label>
    	<input type="text" class="form-control" id="bairro" th:field="${presidio.endereco.bairro}" 
    		placeholder="Bairro"></input>
    </div>
    
    <div class="form-group col-md-6">
    	<label for="complemento">Complemento / Descrição</label>
    	<input type="text" class="form-control" id="complemento" th:field="${presidio.endereco.complemento}"
    		 placeholder="Zona, Km, Caixa Postal, etc"></input>
    </div>
    
    <div class="form-group col-md-4">
    	<label for="cidade">Cidade</label>
    	<input type="text" class="form-control" id="cidade" th:field="${presidio.endereco.cidade}" 
    		placeholder="Cidade / Localidade"></input>
    </div>
    
    <div class="form-group col-md-2">
    	<label for="estado">Estado</label>
    	<div>
	    	<select class="form-control" id="estado"  th:field="${presidio.endereco.estado.id}">
				<option th:value="${null}" th:text="Selecione"></option>
	    		<option th:each="estado : ${estados}" th:value="${estado.id}" th:text="${estado.uf}"></option>
			</select>
    	</div>
    </div>
			
    <div class="form-group col-md-12">
		<hr class="separator"></hr>
	</div>
	
	<div class="form-group col-md-12 area-buttons">
		<button id="save-presidio" type="button" class="pull-right btn btn-default btn-success">Salvar</button>
		<button type="button" class="pull-right btn btn-default btn-primary cancelar">Cancelar</button>
	</div>
	
</form>