<div class="col-md-2 sidebar" xmlns:th="http://www.thymeleaf.org">
	<ul class="nav nav-pills nav-stacked">
		<li class="active">
			<a th:href="@{/}">
				<i class="fa fa-home fa-fw"></i> Home
			</a>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-users"></i> Alunos <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
		      <li><a th:href="@{/alunos-presidios}"> Alunos de presídios</a></li>
		      <li><a th:href="@{/alunos-comuns}"> Alunos comuns</a></li>
		    </ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-envelope"></i> Postagens <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
		      <li><a th:href="@{/postagens/agendamento}"> Agendamento</a></li>
		      <li><a th:href="@{/postagens/gerenciamento}"> Gerenciamento</a></li>
		    </ul>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-file-pdf-o"></i> Relatórios <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
		      <li><a th:href="@{/relatorios/alunos/alunos-por-presidio}" th:target="_blank"> Alunos por presídios</a></li>
		      <li><a th:href="@{/relatorios/alunos/alunos-ativos-periodo}" th:target="_blank"> Alunos ativos período</a></li>
		      <li><a th:href="@{/relatorios/alunos/alunos-inativos-periodo}" th:target="_blank"> Alunos inativos período</a></li>
		    </ul>
		</li>
		<li><a th:href="@{/presidios}"><i class="fa fa-th"></i> Presídios</a></li>
		<li><a th:href="@{/materiais-estudo}"><i class="fa fa-book"></i> Materiais de Estudo</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-cog"></i> Configurações <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
		      <li><a th:href="@{/importacao/presidios}"> Importar presídios</a></li>
		      <li><a th:href="@{/importacao/alunos-presidios}"> Importar alunos de presídios</a></li>
		    </ul>
		</li>
	</ul>
</div>