@import url(../fonts/font-awesome-4.7.0/css/font-awesome.min.css);

h3 {
   color:#337ab7 !important;
}

h1.page-header {
	margin-top: -5px;
}

.sidebar {
	padding-left: 0;
}

.main-container {
	background: #FFF;
	padding-top: 15px;
	margin-top: -20px;
}

.footer {
	width: 100%;
}

.form-inline>.form-group {
	margin-top: 10px;
}

.form-inline>.form-group>input {
	width: 100%;
}

.form-inline>.form-group>div>select {
	width: 100%;
}

.form-inline>.form-group>textarea {
	width: 100%;
}

div.area-buttons button {
	margin-right: 10px;
}

/* Tela de Materiais Estudo */
.acoes-materiais {
	margin-bottom: 10px;
}

.acoes-materiais #btn-salvar-todos {
	margin-right: 10px;
}

.area-lista-materiais .list-materiais-info {
	margin-right: 10px;
}

.area-lista-materiais #nome-material {
	width: 500px;
}